html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

input,
button {
    font-family: 'Titillium Web', sans-serif;
}

/* To remove any pre-existing hover/focus/active effects */

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
label:hover,
.btn:active,
.btn:active {
    outline: 0px !important;
    -webkit-appearance: none;
}

a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}

/** This class contains the entire contents of the page, everything lies within **/

.container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

header {
    /*    font-family: Copperplate-Light, Copperplate, Copperplate Gothic Light, Copperplate Gothic, Arial, sans-serif;*/
    background-color: #001f3f;
    color: white;
    flex: 0 1 5vh;
}

main {
    background-color: #DDDDDD;
    flex: 1 1 auto;
}

footer {
    background-color: #001f3f;
    color: white;
    flex: 0 1 40px;
}

header nav {
    height: 100%;
    display: flex;
    align-items: stretch;

}

header nav > div {
    line-height: 5vh;
    color: white;
    margin: 0 10px;
    text-align: center;
}

nav .nav-title {
    background-color: transparent;
    text-align: left;
    padding-left: 20px;
    font-size: 30px;
    flex-grow: 6;
}

nav .nav-review,
nav .nav-search,
nav .nav-favs,
nav .nav-user {
    flex-grow: 0.7;
}

footer .foot-left {
    width: 33%;
    float: left;
}

footer .foot-center {
    width: 33%;
    float: left;
    text-align: center;
}

footer .foot-right {
    /*font-size: 30px;*/
    width: 33%;
    float: right;
    text-align: right;
}

footer .foot-right p i {}


/* ===========================
--- Registration
=========================== */

main h1 {
    text-align: center;
}

main .container-form {
    /*        background-color: #13232f;*/
    width: 75%;
    margin: 0 auto;
    text-align: center;

}

main .container-form input {
    background-color: transparent;
    font-size: 20px;
    margin: 10px;
    width: 100%;
}

main .container-form input.long-input {
    margin: 10px auto;
}

main .container-form input.long-input,
main .container-form input.name {
    border: 2px solid;
    border-radius: 4px;
}

main .container-form input:focus {
    /*    border-color: #01FF70;*/
}

main .container-form input.name {
    width: 40%;
}

main .container-form input.gender {
    width: 20%;
}


/* Attempt to make a flexbox containing the three radio options but it resulted in all options available to be clicked at once */

/*
main .container-form div.gender-flexbox{
    background-color: aqua;
    display: flex;
    align-items: stretch;
}
*/

main button {
    color: white;
    font-weight: bold;
    background-color: #001f3f;
    border: 1px #001f3f;
    border-radius: 10px;
}

button.button-submit{
    height: 50px;
    width: 65%;
    margin: 10px;
    font-size: 15px;
}

button.button-fill-coords{
    height: 35px;
    width: 75%;
    margin: 10px;
    font-size: 13px;
}


/* ===========================
--- Search
=========================== */

div .input-with-button {
    display: flex;
    align-items: stretch;
}

div .iwb-1{
    flex-grow: 5;
}
div .iwb-2{
    flex-grow: 1;
}
div .input-with-button .input-loc{
    border: 2px solid;
    border-radius: 4px;
    margin: 0 10px;
}
.button-loc{
    line-height: 35px; /* May want to remove this */
    font-size: 20px;
    margin: 0 10px;
}


/* ===========================
--- Sample Results
=========================== */

.results-tabular {
    display: inline-block;
    width: 49%;
    /*    height: 50px;*/
    margin: 0px;

}

.results-tabular table {
    width: 100%;
    border-collapse: collapse;
}

.results-tabular tr:nth-child(odd) {
    border-top: 2px solid #001f3f;
}

.results-tabular table img {
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    margin: 10px 5px;
}

.results-tabular .fa-star,
.results-tabular .fa-star-half {
    color: #FF851B;
}

.results-map {
    display: inline-block;
    float: right;
    width: 49%;
    margin: 0px;
}

.results-map iframe, #map {
    height: 700px;
    width: 95%;
    margin: 0px auto;
}


/* ===========================
--- Individual Sample
=========================== */

.ind-stars {
    margin: -15px auto 10px auto;
    /* margin: top right bottom left */
}

.ind-stars table {

    margin: 0px auto;
    /* margin: top right bottom left */
}

.ind-stars .fa-star,
.ind-stars .fa-star-half {
    color: #FF851B;
    padding: 0px;
}

.individual-rhs {
    display: inline-block;
    float: right;
    width: 49%;
    margin: 0px;
}

.individual-sample-map {
    display: inline-block;
    width: 100%;
    margin: 0px;
}

.individual-sample-specs {
    display: inline-block;
    width: 100%;
    margin: 0px;
}


.individual-sample-map iframe, #map-ind {
    height: 350px;
    width: 95%;
    margin: 0px auto;
}

table td.user {
    width: 25%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

table td.user-stars {
    vertical-align: baseline;
}

.spec-table {
    border: 1px solid;
    margin: 0px auto;
}

.spec-table th {
    background-color: white;
    border-bottom: 2px solid;
}

.spec-table tr:nth-child(odd) {
    background-color: white;
}

.spec-table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.4);
}

.spec-table td:nth-child(even) {
    font-weight: bold;
}

/* ===========================
--- Submission
=========================== */

main .container-form input[type="file"] {
    font-size: 11px;
    margin: 0px auto;
    vertical-align: middle;
    width: inherit;
}

#review-description {
    width: 75%;
    height: 100px;
}

/* ===========================
--- Dynamic Map
=========================== */

/* InfoBox */
.infobox{
}


/* ===========================================================
--- Media Queries Section
=========================================================== */

/* ===========================
--- MQ - Individual Sample
=========================== */

@media (max-width:911px) {
    .results-tabular,
    .individual-rhs {
        display: inline-block;
        width: 100%;
    }
    .individual-rhs {
        border-top: 4px solid;
        padding-top: 20px;
        text-align: center;
    }

}


/* ===========================
--- MQ - Results Sample
=========================== */

@media (max-width:911px) {
    .results-map {
        display: inline-block;
        width: 100%;
        border-top: 4px solid;
        padding-top: 20px;
        text-align: center;
    }


}

/* ===========================
--- MQ - Submission
=========================== */

@media (max-width:778px) {
    main .container-form {
/*        width:100%;*/
    }
    #review-description {
        width:95%;
        height: 150px;
    }
}

@media (max-width:611px) {
    #review-description {
        height: 175px;
    }
}

/* ===========================
--- MQ - Registration
=========================== */

@media (max-width:655px) {
    main .container-form input.gender {
        width: 10%;
    }

}

@media (max-width:380px) {
    main .container-form input.gender {
        width: 5%;
    }

}

@media (max-width:372px) {
    main .container-form input.name {
        width: 100%;
    }

}

/* ===========================
--- MQ - Header/Nav
=========================== */

@media (max-width: 630px) {
    .nav-block {
        display: none;
    }
}

@media (max-width: 440px) {
    nav .nav-title {
        padding-left: 10px;
        font-size: 20px;
    }
}
