header {
    grid-area: header;
    margin: -8px -8px auto -8px;
    background-color: #001f3f;
    height: 50px;
}

main {
    grid-area: main;
    background-color: orange;
}

footer {
    grid-area: footer;
    background-color: green;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
}
